<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cosmetics Shop</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>

<div class="navbar">
    <div class="logo">DermaCare</div>

    <div class="nav-right">
        <a th:href="@{/}">Home</a>
        <a th:href="@{/products}">Products</a>
        <a th:href="@{/cart}">Cart</a>
        <a th:href="@{/chat}">Dermatologist Chat</a>

        <a th:href="@{/login}" class="account-icon">
            <i class="fa-regular fa-user"></i>
        </a>

    </div>
</div>

<section class="hero">
    <div class="container">
    <div class="hero-text">
        <h1>Professional Skincare for Your Skin</h1>
        <p>Personalized cosmetics. Dermatologist support. Modern care.</p>
        <a class="btn" th:href="@{/products}">Shop Now</a>
    </div>
    </div>
</section>

<script th:src="@{/static1.js/script.js}"></script>

</body>
</html>
