<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Products</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>

<div class="navbar">
    <div class="logo">DermaCare</div>

    <div class="nav-right">
        <a th:href="@{/}">Home</a>
        <a th:href="@{/products}">Products</a>
        <a th:href="@{/cart}">Cart</a>
        <a th:href="@{/chat}">Dermatologist Chat</a>

        <a th:href="@{/login}" class="account-icon">
            <i class="fa-regular fa-user"></i>
        </a>

    </div>
</div>
<div class="container">
<div class="page-title">All Products</div>

<div class="filters">
    <select>
        <option selected disabled>Skin Type</option>
        <option>Dry</option>
        <option>Oily</option>
        <option>Sensitive</option>
    </select>

    <select>
        <option selected disabled>Category</option>
        <option>Cleansers</option>
        <option>Serums</option>
        <option>Creams</option>
    </select>

    <button class="filter-btn">Go</button>
</div>

<div class="products-grid">

    <div class="product-card">
        <div class="badge new">New</div>
        <img src="https://www.koreanbeautys.com/cdn/shop/files/1_ab082f3a-ab3c-43ff-9a75-10bb686be2b2.webp?v=1727742379&width=720">
        <h3>TIRTIR - Ceramic Cream 50ml</h3>
        <p>$35.99</p>
        <button>Add to Cart</button>
    </div>

    <div class="product-card">
        <div class="badge">Bestseller</div>
        <img src="https://www.koreanbeautys.com/cdn/shop/files/AQAAAAAAAAAAAA.jpg?v=1700683247&width=720">
        <h3>Beauty of Joseon Glow Serum : Propolis + Niacinamide</h3>
        <p>$19.99</p>
        <button>Add to Cart</button>
    </div>

    <div class="product-card">
        <div class="badge">Bestseller</div>
        <img src="https://www.koreanbeautys.com/cdn/shop/files/dr.ceuracleessence.webp?v=1700680898&width=720">
        <h3>Dr.Ceuracle Vegan Kombucha Tea Essence 150ml</h3>
        <p>$26.99</p>
        <button>Add to Cart</button>
    </div>

    <div class="product-card">
        <img src="https://www.koreanbeautys.com/cdn/shop/files/mei.webp?v=1746383404&width=720">
        <h3>MEDI-PEEL Phyto Cica-nol B5 6000 Shot Serum</h3>
        <p>$33.99</p>
        <button>Add to Cart</button>
    </div>

    <div class="product-card">
        <img src="https://www.koreanbeautys.com/cdn/shop/files/XXL_p0180240777.webp?v=1745808548&width=720">
        <h3>SKIN1004 Centella Poremizing Cleansing Foam</h3>
        <p>$24.99</p>
        <button>Add to Cart</button>
    </div>

    <div class="product-card">
        <img src="https://www.koreanbeautys.com/cdn/shop/files/0_d5bfc8dc-761c-4ee6-b4a4-0bf401033fd4.webp?v=1763042052&width=720">
        <h3>FRANKLY PDRN Bounce Ball Serum 30ml</h3>
        <p>$22.99</p>
        <button>Add to Cart</button>
    </div>
    <div class="product-card">
        <img src="https://www.koreanbeautys.com/cdn/shop/products/IMG-20230302-WA0011.jpg?v=1677788837&width=720">
        <h3>Beauty of Joseon - Ginseng Cleansing Oil</h3>
        <p>$20.99</p>
        <button>Add to Cart</button>
    </div>

    <div class="product-card">
        <img src="https://www.koreanbeautys.com/cdn/shop/files/0_7d4c60a9-a446-4d62-9e72-971a346dfbc9.webp?v=1768086510&width=720">
        <h3>Arencia - Vitamin C Booster Shot</h3>
        <p>$29.99</p>
        <button>Add to Cart</button>
    </div>

    <div class="product-card">
        <img src="https://www.koreanbeautys.com/cdn/shop/files/sss1762762522934e047de01174b.jpg?v=1766148406&width=720">
        <h3>medicube PDRN Pink Collagen Bubble Serum 95ml</h3>
        <p>$21.99</p>
        <button>Add to Cart</button>
    </div>

    <div class="product-card">
        <img src="https://www.koreanbeautys.com/cdn/shop/files/0_a239ba42-1fd7-4b47-b8b5-34ffd94912ae.webp?v=1757978765&width=720">
        <h3>medicube - TXA Niacinamide Capsule Cream 55g</h3>
        <p>$19.99</p>
        <button>Add to Cart</button>
    </div>
</div>
</div>
<script th:src="@{/static1.js/script.js}"></script>
</body>
</html>


